<md-content>
    <h1>HISTORY</h1>
    <md-tabs md-strech-tabs="always">
        <md-tab label="Day">
            <md-content class="padding">
                <canvas ng-controller="HistoryController" id="dayChart" width="800" height="800"></canvas>
            </md-content>
        </md-tab>
        
        
        <md-tab label="Week">
            <md-content class="padding">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Nulla venenatis ante augue. Phasellus
                    volutpat neque ac dui mattis vulputate. Etiam
                    consequat aliquam cursus. In sodales pretium
                    ultrices. Maecenas lectus est, sollicitudin
                    consectetur felis nec, feugiat ultricies mi.</p>
            </md-content>
        </md-tab>


        <md-tab label="Month">
            <md-content class="padding">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Nulla venenatis ante augue. Phasellus volutpat
                    neque ac dui mattis vulputate. Etiam consequat aliquam
                    cursus. In sodales pretium ultrices. Maecenas lectus est,
                    sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
            </md-content>
        </md-tab>


        <md-tab label="Overall">
            <md-content class="padding">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Nulla venenatis ante augue. Phasellus
                    volutpat neque ac dui mattis vulputate. Etiam
                    consequat aliquam cursus. In sodales pretium
                    ultrices. Maecenas lectus est, sollicitudin
                    consectetur felis nec, feugiat ultricies mi.</p>
            </md-content>
        </md-tab>
        
    </md-tabs>
    </md-content>
    
