<html lang="en" ng-app="qamsterApp">
  <head>
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
      <link href='/css/qamster.css' rel='stylesheet' type='text/css'>
      
      <meta name="viewport" content="initial-scale=1" />
      <title>Qamster</title>
  </head>
  <body layout="column">
      <md-toolbar layout="row">
          <div ng-controller="SideNavController as ctrl">
              <button class="menu-icon" hide-sm aria-label="Toggle Menu" ng-click="openMenu()">
                  <md-icon icon="img/ic_menu_24px.svg">
                      <object class="md-icon" data="img/ic_menu_24px.svg"></object>
                  </md-icon>
              </button>
          </div>
          <div class="md-toolbar-tools">
              <h1>Qamster</h1>
          </div>
      </md-toolbar>


      <div id="sideNavContainer" ng-controller="SideNavController as ctrl" layout="row" ng-cloak>
          <md-sidenav md-component-id="left" class="md-sidenav-left">
              <md-content layout-padding="">
                  <md-list>
                      <a href="#/history">History</a>
                      <a href="#/">Main</a>
                  </md-list>
              </md-content>
          </md-sidenav>
      </div>
      
      <ng-view></ng-view>
      
      <!-- Angular Material Dependencies -->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
      
      <script type="text/javascript" src="/_ah/channel/jsapi"></script>
      
      <script src="/js/qamster.js"></script>
  </body>
</html>
