<!doctype html>
<html ng-app='qamsterApp' ng-controller='qamsterCtrl'>
<head>
    <title>Qamster</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
    <script src="/js/qamster.js"></script>
    <link href='/css/qamster.css' rel='stylesheet' type='text/css'>
</head>

<body>
<div class='container'>
  <h1 class='charcoal rounded-box'>Qamster</h1>
  
  <form>
    <input type='text' class='rounded-box' placeholder='add new todo here' ng-model='todoText'>
    <button class='grey rounded-box' ng-click='addTodo()' ng-disabled='working'>New Task</button>
  </form>

  <div>
      <table>
          <tr ng-repeat="x in tasks">
              <td>{{ x.start }}</td>
              <td>{{ x.end }}</td>
              <td>{{ x.title }}</td>
              <td>{{ x.category }}</td>
              <td>{{ x.runtime }}</td>
          </tr>
      </table>
  </div>
</div>
</body>
</html>
