<html lang="en" ng-app="qamsterApp">
  <head>
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
      <link href='/css/qamster.css' rel='stylesheet' type='text/css'>
      
      <meta name="viewport" content="initial-scale=1" />
  </head>
  <body layout="column" ng-controller="QamsterCtrl">
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
          <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
        </md-button>
        <h1>Qamster</h1>
      </div>
    </md-toolbar>

    <div layout="row">
        <div layout="column" flex ng-model="running">Running: {{ running }}</div>
        <div layout="column" flex ng-model="tracking">Currently Tracking: {{ tracking }}</div>
        <div layout="column" flex ng-model="time">Time: {{ time }}</div>
    </div>
    <form novalidate class="simple-form">
        <div layout="row" flex>
            <div layout="column" flex>Task:</div>
            <div layout="column" flex>
                <md-autocomplete
                    id="taskfield2"
                    md-selected-item="selectedItem"
                    md-search-text="searchText"
                    md-items="item in getMatchingTasks(searchText)"
                    md-item-text="item.display"
                    placeholder="Start a Task">
                    <span md-highlight-text="searchText">{{item.title}}</span>
                    <md-not-found>
                        No states matching "{{ctrl.searchText}}" were found.
                        <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
                    </md-not-found>
                </md-autocomplete>
            </div>
            <div layout="column" flex><md-button ng-click="addTask()">Add Task</md-button></div>
            <div layout="column" flex><md-button ng-click="stop()">Stop</md-button></div>
        </div>
    </form>
    
    <div layout="row" flex>
        <div layout="column" flex>
            <md-content layout="column" flex class="md-padding">
                <table>
                    <tr>
                        <th>Index</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Runtime</th>
                    </tr>
                    
                    <tr ng-show="tasks.length" ng-repeat="x in tasks">
                        <td>{{ $index + 1 }}</td>
                        <td>{{ x.start | date:'HH:mm' }}</td>
                        <td>{{ x.end   | date:'HH:mm' }}</td>
                        <td>{{ x.title }}</td>
                        <td>{{ x.category }}</td>
                        <td>{{ computeDuration(x.start, x.end) }}</td>
                    </tr>
                </table>                
            </md-content>
        </div>
    </div>

    <div layout="row">
        <div layout="column" flex ng-show="summary.length" ng-repeat="x in summary">
            {{ x.title }}: {{ secondsToTime(x.seconds) }} ({{ x.percentage }})
        </div>
    </div>
    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>
    
    
    <script src="/js/qamster.js"></script>
  </body>
</html>
